# Project-wide Gradle settings.

# IDE (e.g. Android Studio) users:
# Settings specified in this file will override any Gradle settings
# configured through the IDE.

# For more details on how to configure your build environment visit
# http://www.gradle.org/docs/current/userguide/build_environment.html

# Specifies the JVM arguments used for the daemon process.
# The setting is particularly useful for tweaking memory settings.
# Default value: -Xmx10248m -XX:MaxPermSize=256m
# org.gradle.jvmargs=-Xmx2048m -XX:MaxPermSize=512m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8

# When configured, Gradle will run in incubating parallel mode.
# This option should only be used with decoupled projects. More details, visit
# http://www.gradle.org/docs/current/userguide/multi_project_builds.html#sec:decoupled_projects
# org.gradle.parallel=true
POM_NAME=Measurence Android SDK
POM_ARTIFACT_ID=measurence-android-sdk
POM_PACKAGING=aar
VERSION_NAME=0.2.0-SNAPSHOT
VERSION_CODE=1
GROUP=com.measurence

POM_DESCRIPTION=Measurence Android SDK library
POM_URL=https://github.com/measurence/android-sdk
POM_SCM_URL=https://github.com/measurence/android-sdk.git
POM_SCM_CONNECTION=git@github.com:measurence/android-sdk.git
POM_SCM_DEV_CONNECTION=git@github.com:measurence/android-sdk.git
POM_LICENCE_NAME=MIT License
POM_LICENCE_URL=https://bitbucket.org/measurence/measurence-android-sdk
POM_LICENCE_DIST=repo
POM_DEVELOPER_ID=pslavazza
POM_DEVELOPER_NAME=Piercarlo Slavazza

NEXUS_USERNAME=pslavazza
NEXUS_PASSWORD=<your nexus user name>

SNAPSHOT_REPOSITORY_URL=https://oss.sonatype.org/content/repositories/snapshots
RELEASE_REPOSITORY_URL=https://oss.sonatype.org/service/local/staging/deploy/maven2

signing.keyId=<the id of your key>
signing.password=<the key password>
signing.secretKeyRingFile=<the secretKeyRingFile>